@using System.Web.Optimization
@using BntWeb.Core.SystemUsers.Models
@using BntWeb.Security.Identity
@using BntWeb.Security.Permissions
@{
    ViewBag.Title = SystemUsersModule.DisplayName;
    ViewBag.SubTitle = "新建角色";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var permissionGroups = ViewBag.PermissionGroups as List<PermissionGroup>;
    var permissions = Model.Permissions as List<RolePermission>;
    var editMode = (bool)ViewBag.EditMode;
    if (editMode)
    {
        ViewBag.SubTitle = "编辑角色";
    }
}
<form class="form-horizontal" role="form" id="RoleForm" action="@Url.Action("EditOnPost", "Role", new { area = SystemUsersModule.Area })">
    <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right" for="RoleName"> 角色名 </label>

        <div class="col-sm-9">
            <div class="clearfix">
                <input type="text" id="DisplayName" name="DisplayName" placeholder="角色名" class="col-xs-10 col-sm-5" value="@Model.DisplayName" />
                <input type="hidden" id="RoleId" name="RoleId" value="@Model.Id" />
                <input type="hidden" id="RoleName" name="RoleName" value="@Model.Name" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right" for="RoleName"> 描述 </label>
        <div class="col-sm-9">
            <div class="clearfix">
                <input type="text" id="Description" name="Description" placeholder="角色描述" class="col-xs-10 col-sm-5" value="@Model.Description" />
            </div>
        </div>
    </div>

    <hr />

    @if (permissionGroups != null)
    {
        foreach (var permissionGroup in permissionGroups)
        {
            <div class="form-group">
                <label class="control-label col-sm-offset-1"><b><input type="checkbox" class="category" /> @permissionGroup.Category </b></label>
                <div class="col-sm-offset-1">
                    @foreach (var permission in permissionGroup.Items)
                    {
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                            <input type="checkbox" id="@permission.Name" name="Permissions" value="@permission.Name" @(permissions != null && permissions.Any(p => p.PermissionName.Equals(permission.Name, StringComparison.OrdinalIgnoreCase)) ? "checked=checked" : "") />
                            <label for="@permission.Name">@permission.Description</label>
                        </div>
                    }
                </div>
            </div>
            <hr />
        }
    }

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>            &nbsp; &nbsp; &nbsp;
            @if (!editMode)
            {
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            }
        </div>
    </div>
</form>

@section Scripts {

    @Scripts.Render("~/js/admin/jquery-form")

    <script type="text/javascript">
        jQuery(function ($) {
            bntToolkit.initForm($("#RoleForm"), {
                DisplayName: {
                    required: true
                }
            }, null, success);

            $(".category").on("click", function () {
                var checked = $(this).is(':checked');
                    $(this).parent().parent().siblings().children().children("input").prop("checked", checked);
              
            });

        });

        // post-submit callback
        function success(result, statusText, xhr, $form) {
            if (!result.Success) {
                bntToolkit.error(result.ErrorMessage);
            } else {
                location.href = "@Url.Action("List", "Role", new {area = SystemUsersModule.Area })";
            }
        }

    </script>
}